<div class="row">
  <div class="col-md-7  col-md-offset-3">

    <footer class="footer">
        <small>Copyright &copy; Ade Mitchell BSc <%= Time.current.year %></small>
        <nav>
            <ul>
                <li>
                    Link here?
                </li>
            </ul>
        </nav>
    </footer>
    
    </div>
</div>
